In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

kjv = pd.read_csv('CSV/KJV Books.csv')
esv = pd.read_csv('CSV/ESV Books.csv')

## Books

In [2]:
kjv.head()

,Book,Chapters,Verses,Words,Vs/Ch,Wd/Ch,Wd/Vs,Time (150 WPM),Time (200 WPM),Time (250 WPM)
0,Genesis,50,1533,38262,30.7,765.2,25.0,4hr 15m,3hr 11m,2hr 33m
1,Exodus,40,1213,32686,30.3,817.2,26.9,3hr 37m,2hr 43m,2hr 10m
2,Leviticus,27,859,24541,31.8,908.9,28.6,2hr 43m,2hr 2m,1hr 38m
3,Numbers,36,1288,32896,35.8,913.8,25.5,3hr 39m,2hr 44m,2hr 11m
4,Deuteronomy,34,959,28352,28.2,833.9,29.6,3hr 9m,2hr 21m,1hr 53m

In [3]:
esv.head()

,Book,Chapters,Verses,Words,Vs/Ch,Wd/Ch,Wd/Vs,Time (150 WPM),Time (200 WPM),Time (250 WPM)
0,Genesis,50,1533,36397,30.7,727.9,23.7,4hr 2m,3hr 1m,2hr 25m
1,Exodus,40,1213,31005,30.3,775.1,25.6,3hr 26m,2hr 35m,2hr 4m
2,Leviticus,27,859,23493,31.8,870.1,27.3,2hr 36m,1hr 57m,1hr 33m
3,Numbers,36,1288,31043,35.8,862.3,24.1,3hr 26m,2hr 35m,2hr 4m
4,Deuteronomy,34,959,27618,28.2,812.3,28.8,3hr 4m,2hr 18m,1hr 50m

In [4]:
df = pd.DataFrame()
df['Book'] = kjv['Book']
df['Chapters'] = abs(kjv['Chapters'] - esv['Chapters'])
df['Verses'] = abs(kjv['Verses'] - esv['Verses'])
df['Words'] = abs(kjv['Words'] - esv['Words'])
df

               Book  Chapters  Verses  Words
0           Genesis         0       0   1865
1            Exodus         0       0   1681
2         Leviticus         0       0   1048
3           Numbers         0       0   1853
4       Deuteronomy         0       0    734
5            Joshua         0       0    861
6            Judges         0       0    654
7              Ruth         0       0    137
8          1 Samuel         0       0    880
9          2 Samuel         0       0    805
10          1 Kings         0       0    993
11          2 Kings         0       0    605
12     1 Chronicles         0       0   1785
13     2 Chronicles         0       0   1213
14             Ezra         0       0    519
15         Nehemiah         0       0    606
16           Esther         0       0    149
17              Job         0       0    471
18           Psalms         0       0   2465
19         Proverbs         0       0    486
20     Ecclesiastes         0       0    203
21  Song of Solomon         0       0     82
22           Isaiah         0       0   1651
23         Jeremiah         0       0   2110
24     Lamentations         0       0    158
25          Ezekiel         0       0   2092
26           Daniel         0       0    330
27            Hosea         0       0    198
28             Joel         0       0    116
29             Amos         0       0    149
30          Obadiah         0       0     55
31            Jonah         0       0      8
32            Micah         0       0    130
33            Nahum         0       0    173
34         Habakkuk         0       0    102
35        Zephaniah         0       0     43
36           Haggai         0       0     35
37        Zechariah         0       0    360
38          Malachi         0       0     34
39          Matthew         0       4    665
40             Mark         0       5    570
41             Luke         0       2    929
42             John         0      13    253
43             Acts         0       4    612
44           Romans         0       1     92
45    1 Corinthians         0       0    166
46    2 Corinthians         0       0      6
47        Galatians         0       0     43
48        Ephesians         0       0     16
49      Philippians         0       0     33
50       Colossians         0       0     39
51  1 Thessalonians         0       0      7
52  2 Thessalonians         0       0     33
53        1 Timothy         0       0     54
54        2 Timothy         0       0     47
55            Titus         0       0     13
56         Philemon         0       0     22
57          Hebrews         0       0     30
58            James         0       0     27
59          1 Peter         0       0     71
60          2 Peter         0       0      4
61           1 John         0       0     10
62           2 John         0       0      4
63           3 John         0       1      9
64             Jude         0       0      2
65       Revelation         0       0    471

## Sections

In [5]:
kjv = pd.read_csv('CSV/KJV Sections.csv')
esv = pd.read_csv('CSV/ESV Sections.csv')

df = pd.DataFrame()
df['Section'] = kjv['Section']
df['Books'] = abs(kjv['Books'] - esv['Books'])
df['Chapters'] = abs(kjv['Chapters'] - esv['Chapters'])
df['Verses'] = abs(kjv['Verses'] - esv['Verses'])
df['Words'] = abs(kjv['Words'] - esv['Words'])
df

                    Section  Books  Chapters  Verses  Words
0                     Bible      0         0      28  31395
1             Old Testament      0         0       0  27839
2             New Testament      0         0      28   3556
3                Pentateuch      0         0       0   7181
4                   History      0         0       0   9207
5                    Poetry      0         0       0   3707
6            Major Prophets      0         0       0   6341
7            Minor Prophets      0         0       0   1403
8                   Gospels      0         0      24   2417
9            History (Acts)      0         0       4    612
10         Pauline Epistles      0         0       1     43
11         General Epistles      0         0       1     13
12  Apocalypse (Revelation)      0         0       0    471

In [6]:
kjv.head()

,Section,Books,Chapters,Verses,Words,Ch/Book,Vs/Book,Wd/Book,Vs/Ch,Wd/Ch,Wd/Vs,Time (150 WPM),Time (200 WPM),Time (250 WPM)
0,Bible,66,1189,31102,790879,18.0,471.2,11983,26.2,665.2,25.4,87hr 52m,65hr 54m,52hr 43m
1,Old Testament,39,929,23145,610309,23.8,593.5,15649,24.9,657.0,26.4,67hr 48m,50hr 51m,40hr 41m
2,New Testament,27,260,7957,180570,9.6,294.7,6688,30.6,694.5,22.7,20hr 3m,15hr 2m,12hr 2m
3,Pentateuch,5,187,5852,156737,37.4,1170.4,31347,31.3,838.2,26.8,17hr 24m,13hr 3m,10hr 26m
4,History,12,249,7018,204059,20.8,584.8,17005,28.2,819.5,29.1,22hr 40m,17hr 0m,13hr 36m

In [7]:
esv.head()

,Section,Books,Chapters,Verses,Words,Ch/Book,Vs/Book,Wd/Book,Vs/Ch,Wd/Ch,Wd/Vs,Time (150 WPM),Time (200 WPM),Time (250 WPM)
0,Bible,66,1189,31074,759484,18.0,470.8,11507,26.1,638.8,24.4,84hr 23m,63hr 17m,50hr 37m
1,Old Testament,39,929,23145,582470,23.8,593.5,14935,24.9,627.0,25.2,64hr 43m,48hr 32m,38hr 49m
2,New Testament,27,260,7929,177014,9.6,293.7,6556,30.5,680.8,22.3,19hr 40m,14hr 45m,11hr 48m
3,Pentateuch,5,187,5852,149556,37.4,1170.4,29911,31.3,799.8,25.6,16hr 37m,12hr 27m,9hr 58m
4,History,12,249,7018,194852,20.8,584.8,16238,28.2,782.5,27.8,21hr 39m,16hr 14m,12hr 59m